<nav>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h2>消息中间件管理平台</h2>
            </div>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="itUser/list">用户管理</a></li>
                <li role="presentation"><a href="itQueue/list">消息权限管理</a></li>
                <li role="presentation"><a href="message/list">消息日志</a></li>
                <li role="presentation"><a href="connection/list">连接信息</a></li>
            </ul>
        </div>
    </div>
</nav>