<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h2>消息中间件管理平台</h2>
        </div>
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="../itUser/list">客户端管理</a></li>
            <li role="presentation"><a href="../itQueue/list">目的地管理</a></li>
            <li role="presentation"><a href="../message/list">消息日志</a></li>
            <li role="presentation"><a href="../connection/list">连接信息</a></li>
        </ul>
    </div>
</div>
</body>
</html>