<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eking.activemq.dao.MessageLogMapper">
  <resultMap id="BaseResultMap" type="com.eking.activemq.entity.MessageLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="messageId" jdbcType="VARCHAR" property="messageid" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="consumer" jdbcType="VARCHAR" property="consumer" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="createPerson" jdbcType="VARCHAR" property="createperson" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="jmsTime" jdbcType="TIMESTAMP" property="jmstime" />
    <result column="sendTime" jdbcType="TIMESTAMP" property="sendtime" />
    <result column="jmsSend" jdbcType="DOUBLE" property="jmssend" />
    <result column="jmsNow" jdbcType="DOUBLE" property="jmsnow" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eking.activemq.entity.MessageLog">
    insert into message_log (id, messageId, destination, 
      consumer, message, createPerson, 
      createTime, jmsTime, sendTime, 
      jmsSend, jmsNow)
    values (#{id,jdbcType=INTEGER}, #{messageid,jdbcType=VARCHAR}, #{destination,jdbcType=VARCHAR}, 
      #{consumer,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{createperson,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{jmstime,jdbcType=TIMESTAMP}, #{sendtime,jdbcType=TIMESTAMP}, 
      #{jmssend,jdbcType=DOUBLE}, #{jmsnow,jdbcType=DOUBLE})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.eking.activemq.entity.MessageLog">
    update message_log
    set messageId = #{messageid,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      consumer = #{consumer,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      createPerson = #{createperson,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      jmsTime = #{jmstime,jdbcType=TIMESTAMP},
      sendTime = #{sendtime,jdbcType=TIMESTAMP},
      jmsSend = #{jmssend,jdbcType=DOUBLE},
      jmsNow = #{jmsnow,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, messageId, destination, consumer, message, createPerson, createTime, jmsTime, 
    sendTime, jmsSend, jmsNow
    from message_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, messageId, destination, consumer, message, createPerson, createTime, jmsTime, 
    sendTime, jmsSend, jmsNow
    from message_log
  </select>
</mapper>